<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher_001.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Launcher_001.Properties.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value>C:\Users\alfre\source\repos\Devtalks2024\003_Sockets_3\Socket_Server\bin\Debug\net8.0\Socket_Server.exe</value>
            </setting>
            <setting name="ClientPath" serializeAs="String">
                <value>C:\Users\alfre\source\repos\Devtalks2024\003_Sockets_3\DeviceSimulator\bin\Debug\net8.0-windows\DeviceSimulator.exe</value>
            </setting>
        </Launcher_001.Properties.Settings>
    </userSettings>
</configuration>